<body class="bgColor text">
    <div>
        <img class="imageBlock" src="assets\image.jpg">
        <div class="TextBlock">
            <h3>Наша компания специализируется на</h3>
            <h4>Доставке заказов к вам домой!</h4>
            <h4>Вы можете позвонить нам по телефону +375(33)123-45-67</h4>
            <h4>Или создать заказ на нашем сайте!</h4>
            <button type="button" class="btn btn-primary" routerLink="/allProducts">Перейти к созданию заказа</button>
        </div>
    </div>

</body>